{% extends "articles/base.html" %}
{% load static %}
{% block page_content %}
<div class="col-md-8 offset-md-2">
    <h1>{{title}}</h1>
    <form action="{% url 'home' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
              <p>Статья: {{ title_article }}</p>
              <p>Длительность видео: {{ time_video }} минут </p>
          </div>
          <div class="form-input">
              <p>Введите времменной промежуток обработки видео:</p>
              <input type="datetime" name="time" value="" autofocus="" size="8" placeholder="00:00 (Начало)">
              <input type="datetime" name="time" value="" autofocus="" size="8" placeholder="00:00 (Конец)">
              <button type="submit" class="btn btn-primary">Обработать</button>
          </div>
      </form>
</div>

{% endblock %}